<div class="container" id="contact">
    <section class="row justify-content-center text-center text-md-start">
        <!--Title-->
        <h2 class="col-md-4 text-center display-4 text-capitalize">
            Who I'm
        </h2>
        <!--Info-->
        <div class="col-10 col-md-10">
            <p class="text-muted fw-light">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit quis quaerat, quidem nihil, qui delectus expedita voluptatum, sunt nulla animi sit doloremque rerum molestias hic ipsum quia earum molestiae ullam?
            </p>
            <a href="#" download="CV-Diego" class="btn btn-dark rounded-5 px-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                  </svg>
                  Download CV
            </a>
        </div>
    </section>
    <section class="row justify-content-center">
        <div class="col-9 col-lg-7 bg-white text-center py-4 px-3 shadow position-relative m-3">
            <p class="h6 text-muted fw-light">
                Have any in mind? Say hello to me at
            </p>
            <a href="mailto:dacorread05@gmail.com" class="h3 text-decoration-none email-contact">dacorread05@gmail.com</a>
        </div>
    </section>
    <div class="row justify-content-center text-center">
        <nav class="nav col-11 justify-content-center mb-4">
            <a href="" class="nav-link active">Home</a>
            <a href="#sections" class="nav-link">Services</a>
            <a href="#projects" class="nav-link">Portfolio</a>
            <a href="#contact" class="nav-link">Contact</a>
        </nav>
        <!-- Social media -->
        <div class="icons-social">
            <!-- GitHub -->
            <a href="">
                <img src="assets/icons/github.png" width="25" alt="My GitHub Page" srcset="">
            </a>
            <!-- Linkenlind -->
            <a href="">
                <img src="assets/icons/linkenlid.png" width="25" alt="My profesional profile" srcset="">
            </a>
        </div>
    </div>
</div>