.rounded-5 {
    border-radius: 1.3rem;
    border: none;
}
.card {
    .card-img-overlay {
        display: grid;
        align-items: center;
    }
    transition: 0.4s transform;
    &:hover {
        transform: scale(0.96);
    }
}
a {
    transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .5s;
    border-radius: 1.3rem;
    &:hover {
        transform: translateY(-10px);
    }
    &:active {
        transform: translateY(10px);
    }
}

//modal
.modal-content {
    border-radius: 1.3rem;
    background: rgb(20,20,20);
    background: linear-gradient(90deg, rgba(20,20,20,1) 27%, rgba(38,38,38,1) 56%, rgba(67,67,67,1) 80%);
}
.modal-content > div {
    border: none;
}